body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Diet-section-start */
.diet-main {
    display: flex;
    padding: 2%;
}

.diet-font {
    width: 40%;
    padding-top: 5%;
    text-align: left;
    padding-left: 3%;
}

.diet-font span {
    color: orange;
}

.diet-font p {
    padding-bottom: 20px;
}

.diet-font a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 6px 8px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 2px 30px 10px orange;
    border-radius: 5px;
}

.diet-font h1 {
    font-size: 40px;
    font-weight: bold;
}

.diet-img {
    width: 58%;
}

.diet-img img {
    width: 80%;
    padding-left: 20%;
    padding-top: 0;
}

/* Diet-section-End */

/* About-section-start */
.about-main {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.about-box {
    display: flex;
    padding: 5%;
}

.about-img img {
    width: 70%;
    padding-left: 160px;
    padding-top: 32px;

}

.about-img {
    width: 40%;
}

.about-font {
    width: 40%;
    margin-left: 10%;
    padding-top: 70px;
    padding-left: 3%;
}

.about-font h1 {
    font-size: 40px;
    font-weight: bold;
}

.about-button {
    padding-top: 100%;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 6px 8px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 2px 30px 10px orange;
    border-radius: 5px;
}

/* About-section-End */

/* Recipies-section-start */
.recipie-head {
    text-align: center;
    width: 50%;
    padding-left: 25%;
}

.recipie-box {
    padding: 5%;
    display: flex;
}

.recipie-head h1 {
    font-size: 40px;
    font-weight: bold;
}

.recipie-cover {
    box-shadow: 5px 10px 40px rgb(255, 201, 151);
    margin: 10px;
    border-radius: 5%;
}

#recipie-img {
    width: 90%;
    height: 58%;
    padding: 5% 5% 0%;
}

.recipie-title {
    width: 90%;
    height: 50px;
    padding-left: 5%;
    margin: 0;
    margin-bottom: 10px;
}

.recipie-title p {
    margin: 0;
}

/* Recipies-section-End */

/* followers-section-start */
.followers-box {
    width: 90%;
    height: 150px;
    display: flex;
    box-shadow: 5px 10px 40px rgb(255, 201, 151);
    margin-left: 5%;
    margin-bottom: 120px;
    border-radius: 20px;
}

.followers-item {
    padding-left: 15%;
}

.followers-item h1 {
    font-size: xx-large;
}

/* followers-section-End */

.footer-color {
    width: 100%;
    height: 180px;
    background-color: black;
}

.footer-item span {
    color: orange;
}

.footer-item h1 {
    color: gray;
}

.footer-item {
    color: white;
    padding-top: 15px;
    text-align: center;
}